#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        td_numbers: td_numbers {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUMBERS";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 1>;
        };

        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC";
            bindings = <&mo>, <&rgb_ug_status>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
        };
    };

    macros {
        rgb_ug_status: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp F1      &kp F2             &kp F3               &kp F4            &kp F5                                                                                        &kp F6            &kp F7            &kp F8                &kp F9                      &kp F10
&none       &kp N1             &kp N2               &kp N3            &kp N4           &kp N5                                                               &kp N6  &kp N7            &kp N8            &kp N9                &kp N0                      &none
&kp ESCAPE  &kp Q              &kp W                &kp E             &kp R            &kp T                                                                &kp Y   &kp U             &kp I             &kp O                 &kp P                       &kp HOME
&kp TAB     &hrm LEFT_SHIFT A  &hrm LEFT_CONTROL S  &hrm LEFT_ALT D   &hrm LEFT_GUI F  &kp G                                                                &kp H   &hrm RIGHT_GUI J  &hrm RIGHT_ALT K  &hrm RIGHT_CONTROL L  &hrm RIGHT_SHIFT SEMICOLON  &kp PAGE_UP
&none       &kp Z              &kp X                &kp C             &kp V            &kp B   &none     &none  &none    &none        &none      &none      &kp N   &kp M             &kp COMMA         &kp DOT               &kp FSLH                    &kp PAGE_DOWN
&magic 2 0  &none              &kp GRAVE            &kp SINGLE_QUOTE  &kp MINUS                &kp BSPC  &none  &to 0    &td_numbers  &kp ENTER  &kp SPACE          &kp EQUAL         &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp BACKSLASH               &kp END
            >;
        };

        Numbers {
            bindings = <
&none   &none   &none   &none   &none                                                               &none   &none   &none   &none   &none
&none   &none   &none   &none   &none   &none                                               &none   &none   &none   &none   &none   &none
&none   &none   &none   &none   &none   &none                                               &none   &none   &none   &none   &none   &none
&none   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                              &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none
&none   &none   &none   &none   &none   &none   &none  &none  &none    &none  &none  &none  &none   &none   &none   &none   &none   &none
&trans  &none   &none   &none   &none           &none  &none  &to 0    &to 0  &none  &none          &none   &none   &none   &none   &none
            >;
        };

        Magic {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                       &none  &none  &none  &none  &bt BT_CLR_ALL
&none        &none            &none            &none            &none            &none                                                               &none  &none  &none  &none  &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                     &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                     &none  &none  &none  &none  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &none           &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB    &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };
    };
};
